<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= player.name %>'s Profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title"><%= player.name %></h2>
        <div class="row">
          <div class="col-md-4">
            <img src="<%= player.imageUrl %>" alt="<%= player.name %> Photo" class="img-fluid">
          </div>
          <div class="col-md-8">
            <p><strong>Position:</strong> <%= player.position %></p>
            <p><strong>Years Active:</strong> <%= player.year_start %> - <%= player.year_end %></p>
            <p><strong>Height:</strong> <%= player.height %></p>
            <p><strong>Weight:</strong> <%= player.weight %></p>
            <p><strong>Birth Date:</strong> <%= player.birth_date %></p>
            <p><strong>College:</strong> <%= player.college %></p>
            <p><strong>Team ID:</strong> <%= player.TeamID %></p>
            <p><strong>Annual Salary:</strong> <%= player.AnnualSalary %></p>
            <p><strong>Worthiness:</strong> <%= player.Worthiness %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
